<launch>
  <rosparam ns="/bioloid/joints">
    name:                   [  'H_NR',     'H_NT',      'H_NP']

    Servo_number:           [       1,          2,           3] 

    joint_encoder_offset:   [     206,        826,         246] 

    angle_max:              [     1.0,        1.0,         1.0]    
    angle_min:              [    -1.0,       -1.0,        -1.0] 
     
  </rosparam>

</launch>
