<launch>
  <node name="l_leg" pkg="arm_kinematics" type="arm_kinematics" output="screen">
    <rosparam>
      root_name: base_link
      tip_name: L_foot_pad
      epsilon: 0.01
      maxIterations: 1000
    </rosparam>
  </node>

  <node name="R_leg" pkg="arm_kinematics" type="arm_kinematics" output="screen">
    <rosparam>
      root_name: base_link
      tip_name: R_foot_pad
      epsilon: 0.01
      maxIterations: 1000
    </rosparam>
  </node>

  <node name="l_arm" pkg="arm_kinematics" type="arm_kinematics" output="screen">
    <rosparam>
      root_name: base_link
      tip_name: L_forearm
      epsilon: 0.01
      maxIterations: 1000
    </rosparam>
  </node>

  <node name="R_arm" pkg="arm_kinematics" type="arm_kinematics" output="screen">
    <rosparam>
      root_name: base_link
      tip_name: R_forearm
      epsilon: 0.01
      maxIterations: 1000
    </rosparam>
  </node>

</launch>
